/* variables */
:root {
  --color-one: ;
  --color-two: ;
  --color-three: ;
  --color-four: ;
  --color-five: ;
}

/* PORTRAIT CSS BELOW */
html {
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* navbar below */
nav {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.navsection {
  display: flex;
}
.navsection-left {
  display: flex;
  justify-content: center;
}
.logo {
  max-width: 525px;
}
.navsection-center {
  display: flex;
  justify-content: center;
}
.navsection-center > a {
  margin: 3px 9px;
  text-decoration: none;
  color: black;
}
#home-anchor:hover {
  margin: 0px 9px;
}
#home-anchor:hover #home-title {
  margin-top: 0.5px;
  padding-bottom: 2.5px;
  border-bottom: 3px solid black;
}
#catalog-anchor:hover {
  margin: 0px 9px;
}
#catalog-anchor:hover #catalog-title {
  margin-top: 0.5px;
  padding-bottom: 2.5px;
  border-bottom: 3px solid black;
}
.navsection-right {
  display: flex;
  justify-content: center;
}
.navsection-right > a {
  margin: 0px 10px;
}
/* navbar above */

/* banner-1 below */
#banner-1 {
  height: 600px;
  min-width: 100%;
  background-image: url("./banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}
#banner-1 > img {
  margin-left: 40px;
}
.bannerImage-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row nowrap;
  height: 100%;
  max-width: 50%;
}
#banner-text {
  max-width: 50%;
  min-height: 250px;
  align-self: center;
  /* background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px; */
  /* box-shadow: 0px 0px 50px 5px white; */
}

.bp1,
.bp2,
.bp3 {
  margin-bottom: 70px;
}
.bp1 {
  max-height: 150px;
}
.bp2 {
  max-height: 500px;
}
.bp3 {
  max-height: 150px;
}
/* banner-1 above */

/* featured collection below */
#featured-collection {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}

#single-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 125px auto;
}
#single-display > img {
  margin: 20px;
  max-width: 100%;
}
#single-display > div {
  margin: 20px;
}

/* featured collection above */

/* banner-2 below */
#banner-2 {
  background-color: white;
  padding-top: 50px;
}

/* banner-2 above */

/* image-group1 below */
#image-group1 {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#image-group1 > img {
  width: 33.4%;
  min-width: 360px;
  max-height: 460px;
}
/* image-group1 above */

/* image-group2 below */
#image-group2 {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
#image-group2 > img {
  max-width: 100%;
}
/* image-group2 above */

footer {
  display: flex;
  flex-direction: column;
}

.footer-sec1 {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-sec1 > div {
  width: 28%;
}
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-sec2 {
  display: flex;
  align-items: flex-end;
}

/* ---------------------PORTRAIT CSS ABOVE--------------------- */

/* ---------------------LANDSCAPE CSS BELOW--------------------- */
@media screen and (max-width: 850px) {
  .navbar {
    margin: 0 !important;
    padding: 0 !important;
  }
  nav {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .navsection-right {
    display: none;
  }
  #banner-1 {
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
  }
  #banner-1 > img {
    margin-left: 0px;
  }
  #banner-text {
    max-width: 100%;
    max-height: 250px;
    align-self: center;
  }
  .bp1,
  .bp2,
  .bp3 {
    margin-bottom: 0px;
  }
  .bp1 {
    max-height: 100px;
  }
  .bp2 {
    max-height: 300px;
  }
  .bp3 {
    max-height: 100px;
  }
  #banner-2 {
    height: 50%;
    background-size: contain;
    background-position: bottom;
  }
  #featured-collection > div > img {
    height: 140px;
    width: 190px;
  }
  #single-display {
    margin: 0px auto;
  }
  #image-group2 > img {
    width: 100%;
  }
}
/* LANDSCAPE CSS ABOVE */
