/* variables */
:root {
  --color-one: ;
  --color-two: ;
  --color-three: ;
  --color-four: ;
  --color-five: ;
}

/* PORTRAIT CSS BELOW */
html {
  font-family: "Source Code Pro", monospace;
}
body {
  height: 100%;
  width: 100%;
  /* Banner Style Full Element Photo */
  /* background-image: url("https://as1.ftcdn.net/jpg/02/69/87/04/500_F_269870413_IdnpSWcfCQO7kciAgPZ3y4g38rQLWpHf.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */
}
/* navbar below */
nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.navsection {
  display: flex;
  height: 100%;
  width: 30%;
}
.navsection-left {
  display: flex;
  justify-content: center;
}
.navsection-center {
  display: flex;
  justify-content: center;
}
.navsection-center > a {
  margin: 3px 9px;
  text-decoration: none;
  color: black;
}
#home-anchor:hover {
  margin: 0px 9px;
}
#home-anchor:hover #home-title {
  margin-top: 0.5px;
  padding-bottom: 2.5px;
  border-bottom: 3px solid black;
}
#catalog-anchor:hover {
  margin: 0px 9px;
}
#catalog-anchor:hover #catalog-title {
  margin-top: 0.5px;
  padding-bottom: 2.5px;
  border-bottom: 3px solid black;
}
.navsection-right {
  display: flex;
  justify-content: center;
}
.navsection-right > a {
  margin: 0px 10px;
}
/* navbar above */

/* banner-1 below */
#banner-1 {
  height: 600px;
  min-width: 100%;
  background-image: url("./banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  padding: 20px;
}
#banner-1 > img {
  /* align-self: flex-end; */
}
.bannerImage-wrapper {
  display: flex;
}
#banner-text {
  height: 100%;
}

/* banner-1 above */

/* featured collection below */
#featured-collection {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}
#featured-collection > div > img {
  /* flex: 1 1 160px; */
}
#single-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 125px auto;
}
#single-display > img {
  /* height: 400px;
  width: 200px; */
  margin: 20px;
}
#single-display > div {
  margin: 20px;
}

/* featured collection above */

/* banner-2 below */
#banner-2 {
  /* opacity: 0.85; */
  background-color: white;
}
.carousel-item > img {
  /* max-height: 600px; */
}

/* banner-2 above */

/* image-group1 below */
#image-group1 {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  width: 100%;
}
#image-group1 > img {
  width: 33.4%;
  min-width: 360px;
  max-height: 460px;
}
/* image-group1 above */

/* image-group2 below */
#image-group2 {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  margin: 50px auto;
}
#image-group2 > img {
  /* min-width: 75%; */
  /* max-height: 700px; */
}
/* image-group2 above */

footer {
  display: flex;
  flex-direction: column;
}

.footer-sec1 {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-sec1 > div {
  width: 28%;
}
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-sec2 {
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

/* ---------------------PORTRAIT CSS ABOVE--------------------- */

/* ---------------------LANDSCAPE CSS BELOW--------------------- */
@media screen and (max-width: 850px) {
  #banner-1 {
    justify-content: flex-start;
  }
  #banner-text {
    width: 100%;
    height: 60%;
  }
  #banner-2 {
    height: 50%;
    background-size: contain;
    background-position: bottom;
  }
  #featured-collection > div > img {
    height: 140px;
    width: 190px;
  }
  #single-display {
    margin: 0px auto;
  }
  #image-group2 > img {
    width: 100%;
  }
}
/* LANDSCAPE CSS ABOVE */
