/* variables */
:root {
  --color-one: ;
  --color-two: ;
  --color-three: ;
  --color-four: ;
  --color-five: ;

  --image-one: url("/images/TreeHugger1Webtiny.png");
  --image-two: url("/images/TreeHugger2tiny.png");
  --image-three: ;
  --image-four: ;
  --image-five: ;
}

/* PORTRAIT CSS BELOW */
html {
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* navbar below */
nav {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.navsection {
  display: flex;
}
.navsection-left {
  display: flex;
  justify-content: center;
}
.logo {
  max-width: 525px;
}
.navsection-center {
  display: flex;
  justify-content: center;
}
.navsection-center > a {
  margin: 3px 9px;
  text-decoration: none;
  color: black;
}
#home-anchor:hover {
  margin: 0px 9px;
}
#home-anchor:hover #home-title {
  margin-top: 0.5px;
  padding-bottom: 2.5px;
  border-bottom: 3px solid black;
}
#catalog-anchor:hover {
  margin: 0px 9px;
}
#catalog-anchor:hover #catalog-title {
  margin-top: 0.5px;
  padding-bottom: 2.5px;
  border-bottom: 3px solid black;
}
.navsection-right {
  display: flex;
  justify-content: center;
}
.navsection-right > a {
  margin: 0px 10px;
}
/* navbar above */

/* banner-1 below */
#banner-1 {
  height: 600px;
  min-width: 100%;
  background-image: url("./banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}
#banner-1 > img {
  margin-left: 40px;
}
.bannerImage-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row nowrap;
}
#banner-text {
  min-width: 50%;
  max-width: 55%;
  min-height: 250px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#banner-text > img {
  max-height: 100px;
  max-width: 100%;
}

.bp1,
.bp2,
.bp3 {
  margin-bottom: 70px;
}
.bp1 {
  max-height: 200px;
}
.bp2 {
  max-height: 500px;
}
.bp3 {
  max-height: 175px;
}
/* banner-1 above */

/* featured collection below */
#featured-collection {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;

  /* background-image: url(./rbop.jpg), url(./rbop.jpg);
  background-size: 25%;
  background-position: left center, right center;
  background-repeat: no-repeat; */
}
.test {
  /* border: 5px solid black; */
  width: 22%;
  min-height: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.test > img {
  max-width: 90%;
  max-height: 80%;
  margin: 20px auto;
  visibility: ;
  transition: 0.7s;
}
.test:nth-child(1) {
  /* background-image: url("./rbop.jpg"); */
  transition: 0.7s;
}
.test:nth-child(2) {
  /* background-image: url("./rbop.jpg"); */
}
.test:nth-child(3) {
  /* background-image: url("./rbop.jpg"); */
}
.test:nth-child(4) {
  /* background-image: url("./rbop.jpg"); */
}
#single-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 25px auto;
}
#single-display > div {
  margin: 20px;
}
.treehuggertext {
  padding-top: 20px;
  max-width: 820px !important;
  margin: 0 auto;
}

#treehuggerImg {
  background-image: url("./Transparent1webtiny.png");
  background-size: 440px;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 300px;
  margin: 20px;
  margin: 20px;
  min-height: 740px;
}
#treehuggerImg:hover {
  background-image: url("./Transparent2webtiny.png");
}

/* featured collection above */

/* banner-2 below */
#banner-2 {
  background-color: white;
  padding-top: 50px;
}

/* banner-2 above */

/* image-group1 below */
#image-group1 {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#image-group1 > img {
  width: 33.4%;
  min-width: 360px;
  max-height: 460px;
}
/* image-group1 above */

/* image-group2 below */
#image-group2 {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
#image-group2 > img {
  max-width: 100%;
}
/* image-group2 above */

footer {
  display: flex;
  flex-direction: column;
  background-image: url("./footerwebtiny.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}

.footer-sec1 {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-sec1 > div {
  width: 28%;
}
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-sec2 {
  display: flex;
  align-items: flex-end;
}

/* ---------------------PORTRAIT CSS ABOVE--------------------- */

#catalog-slider {
  min-height: 70vh;
  min-width: 100%;
  background-color: black;
  overflow: hidden;
}

.slider-image {
  background-color: black;
  height: 50vh;
  width: 100%;
}

.slider-image-1 {
  /* background-color: black; */
  background-image: url("SlideshowShellsResizePPWebtiny.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-image-2 {
  background-image: url("SlideshowConcretePPLogotiny.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-image-3 {
  background-image: url("SlideshowPricklyPearPPWebtiny.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-image-4 {
  /* background-color: darkgoldenrod; */
}

.product-title-cat {
  font-family: "Special Elite", cursive;
  font-size: 1em;
  text-align: center;
}

/* ---------------------LANDSCAPE CSS BELOW--------------------- */
@media screen and (max-width: 850px) {
  .navbar {
    margin: 0 !important;
    padding: 0 !important;
  }
  nav {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .navsection-right {
    display: none;
  }
  #banner-1 {
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
  }
  #banner-1 > img {
    margin-left: 0px;
  }
  #banner-text {
    max-width: 100%;
    max-height: 250px;
    align-self: center;
  }
  .bp1,
  .bp2,
  .bp3 {
    margin-bottom: 0px;
  }
  .bp1 {
    max-height: 100px;
  }
  .bp2 {
    max-height: 300px;
  }
  .bp3 {
    max-height: 100px;
  }
  #banner-2 {
    height: 50%;
    background-size: contain;
    background-position: bottom;
  }
  #featured-collection > div > img {
    height: 140px;
    width: 190px;
  }
  #single-display {
    margin: 0px auto;
    flex-wrap: wrap;
  }
  .treehuggertext {
    max-width: 310px !important;
  }
  #image-group2 > img {
    width: 100%;
  }
}
/* LANDSCAPE CSS ABOVE */
